@page "/todo"
@using Fluxor
@inject IState<TodoState> TodoState
@inject IDispatcher Dispatcher
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Todo (@TodoState.Value.Todos.Count(todo => !todo.IsDone))</h3>

<form @onsubmit=AddTodo>
    <ul>
        @foreach (var todo in TodoState.Value.Todos)
        {
            <li>
                <input type="checkbox" @bind="todo.IsDone" />
                <input @bind="todo.Title" />
            </li>
        }
    </ul>
    <input placeholder="Something todo" autofocus @bind="newTodo" />
    <button @onclick="AddTodo">Add todo</button>
</form>


@code {
    private string? newTodo;
    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            var action = new AddTodoItemAction(new TodoItem { Title = newTodo });
            Dispatcher.Dispatch(action);

            newTodo = string.Empty;
        }
    }
}
