@page "/todo"
@inject TodoState TodoState

<h3>Todo (@TodoState.ItemsTodoCount)</h3>

<form @onsubmit=AddTodo>
    <ul>
        @foreach (var todo in TodoState.Todos)
        {
            <li>
                <input type="checkbox" @bind="todo.IsDone" />
                <input @bind="todo.Title" />
            </li>
        }
    </ul>
    <input placeholder="Something todo" autofocus @bind="newTodo" />
    <button @onclick="AddTodo">Add todo</button>
</form>


@code {
    private string? newTodo;   
    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            TodoState.Todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}
