@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://raw.githubusercontent.com/MauRiEEZZZ/blazorstate/main/CHANGELOG.md" target="_blank">Changelog</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
